.container {
    margin-top: 60px;
}

.header-container {
    padding-top: 10px;

    .logo {
        background-color: #e7e7e7;
        padding: 20px 80px;
        font-family: $logo;

        @include mq(phone-sm) {
            display: none;
        }

        @include mq(phone-only) {
            display: none;
        }

        @include mq(tablet-portrait-up) {
            display: none;
        }


    }

    .btn-group {
        gap: 10px;

        a {
            padding: 10px 30px;
            font-size: 16px;
        }
    }

    .input-group {
        margin-left: 30px;
        background-color: #f5f5f5;

        input {
            box-shadow: none;
        }
    }

}

.links-container {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 12px;

    a {
        font-size: 21px;

        @include mq(phone-sm) {
            font-size: 10px;
        }

        @include mq(phone-only) {
            font-size: 12px;
        }

        @include mq(tablet-portrait-up) {
            font-size: 12px;
        }
    }
}

.form-container {

    select {
        color: #5F5F5F;
        padding: 15px 12px 15px 14px;
        font-size: 21px;
    }

    label {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    input {
        border: 1px solid lightgray;
        margin-bottom: 27px;
        outline: none;
        font-size: 21px;
        padding: 15px 12px 15px 14px;
        color: #5f5f5f;
    }
}

.card {
    padding: 20px 10px;
    background-color: #f2f2f2;
    border-radius: 12px;

    .card-img-top{
        height: 280px;
        object-fit: cover;
        object-position: center;
    }

    .card-logo {
        width: 72px;
        height: 27px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 500;
        top: 36px;
        left: 27px;
        color: #5f5f5f;
    }

    .card-vip-icon {
        width: 40px;
        height: 40px;
        top: 36px;
        right: 27px;
        background-color: #E5A51B;
        border-radius: 50%;
    }

    img {
        border-radius: 12px;
        object-fit: cover;
        object-position: center;
    }

    .card-body-price {
        font-size: 28px;
        font-weight: 600;
        margin-top: 8px;
        padding: 0;

        img {
            background: #F76E13;
            padding: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .card-body-title {
        font-size: 24px;
        font-weight: 500;
        margin-top: 12px;
    }

    .card-body-location {
        font-size: 21px;
        font-weight: 500;
        margin-top: 20px;

        @include mq(phone-sm){
            font-size: 14px ;
        }

        @include mq(phone-only){
            font-size: 16px ;
        }

        @include mq(tablet-landscape-up){
            font-size: 16px;
        }

        @include mq(desktop-up){
            font-size: 21px;
        }

        .date {
            font-size: 14px;
            gap: 12px;
        }

    }
}

.vip-adverts-container {

    .vip-adverts-header {
        padding: 0 20px;
        span {
            font-size: 28px;
            font-weight: 500;
        }
    }

    .custom-select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        outline: none;

        background-color: #323232;
        padding: 10px 15px;

        background-image: url('../icons/filter-icon.svg');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 24px 24px;
    }
}

.latest-adverts-container {
    margin-top: 36px;

    .latest-adverts-header {
        padding: 0 20px;

        span {
            font-size: 28px;
            font-weight: 500;
        }

        .custom-select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            outline: none;

            background-color: #323232;
            padding: 10px 15px;

            background-image: url('../icons/filter-icon.svg');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 24px 24px;
        }
    }

    .latest-adverts-body {
        margin-top: 40px;
        padding: 0 20px;
    }

}

.tooltip-inner {
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
}

.tooltip-arrow {
    fill: #FFF;
    filter: drop-shadow(-1px 3px 4px rgba(0, 0, 0, 0.12));
    color: transparent;

    // arrow color will turn to white
}

.footer-container{
    padding-top: 25px;
    margin-bottom: 48px;
    margin-top: 195px;
    font-size: 14px;
}