.card {
    padding: 20px 10px;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-sizing: border-box;

    @include mq(tablet-portrait-up) {
        padding: 10px 10px;
    }

    .badgets-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 90%;
        top: 40px;
        left: 50%;
        transform: translate(-50%);

        @include mq(tablet-portrait-up){
            top: 30px;
            width: 85%;
        }

        @include mq(phone-sm){
            top: 20px;
            width: 85%;
        }

        .logo {
            padding: 5px 10px;
            display: flex;
            align-items: center;

            @include mq(phone-sm){
                padding: 2px 8px;
            }
    
            span {
                font-size: 14px;
    
                @include mq(tablet-portrait-up) {
                    font-size: 10px;
                }
    
                @include mq(phone-only) {
                    font-size: 8px;
                }

                @include mq(phone-sm){
                    font-size: 5px;
                }
            }
        }

        .badgets {
            gap: 5px;

            @include mq(desktop-down){
                gap: 12px;
            }

            @include mq(tablet-portrait-up){
                gap: 2px;
            }

            @include mq(phone-sm){
                gap: 3px;
            }
    
    
            .badget {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                color: white;
    
                @include mq(tablet-portrait-up) {
                    width: 30px;
                    height: 30px;
                }
    
                @include mq(phone-only) {
                    width: 20px;
                    height: 20px;
                }
    
                @include mq(phone-sm) {
                    width: 15px;
                    height: 15px;
                    padding: 3px;
                }
    
                span {
                    font-size: 16px;
    
                    @include mq(tablet-portrait-up) {
                        font-size: 10px;
                    }
    
                    @include mq(phone-only) {
                        font-size: 8px;
                    }

                    @include mq(phone-sm){
                       font-size: 5px;
                    }
                }
    
                img {
                    @include mq(phone-only) {
                        width: 12px;
                        height: 12px;
                    }

                    @include mq(phone-sm) {
                        width: 10px;
                        height: 10  px;
                    }
                }
            }
    
            .document {
                background-color: #00AA08;
            }
    
            .percent {
                background-color: #F76E13;
            }
    
            .vip {
                background-color: #E5A51B;
            }
    
            .custom-dropdown {
                position: relative;
                display: inline-block;       
            
                .dropdown-toggle {
                    background-color: rgba(255, 255, 255, 0.74);
                    color: white;
                    border: none;
                    cursor: pointer;
                    appearance: none !important;
                    -webkit-appearance: none !important;
                    -moz-appearance: none !important;
                    border-radius: 50%;
                    background-image: none !important;
                    background-repeat: no-repeat;
                    background-position: unset;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    @include mq(tablet-portrait-up) {
                        width: 30px;
                        height: 30px;
                    }
            
                    @include mq(phone-only) {
                        width: 20px;
                        height: 20px;
                    }
    
                    @include mq(phone-sm) {
                        width: 15px;
                        height: 15px;
                    }
            
                    img {
                        padding: 5px;
                        border-radius: 50%;
    
                        @include mq(phone-only) {
                            width: 18px;
                            height: 18px;
                        }
    
                        @include mq(phone-sm) {
                            width: 15px;
                            height: 15px;
                        }
                    }
            
                    &::after {
                        content: none;
                    }
                }
            
                .dropdown-menu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0px; 
                    background-color: white;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    z-index: 10;
                    min-width: 150px;
                    margin-top: 5px;

                    @include mq(phone-only){
                        min-width: 100px;
                    }
            
                    .dropdown-item {
                        background-color: #f8f9fa;
                        border: none;
                        width: 100%;
                        text-align: left;
                        border-radius: 12px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: #5f5f5f;
                        font-size: 14px;
                        font-weight: 500;

                        @include mq(phone-only){
                            font-size: 8px;

                            img{
                                width: 10px;
                                height: 10px;
                            }
                        }
            
                        &:hover {
                            background-color: #e9ecef;
                        }
                    }
                }
            
                &.active .dropdown-menu {
                    display: block;
                }
            }
              
    
        }
    }





    .card-img-top {
        height: 280px;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;

        @include mq(tablet-portrait-up) {
            height: 220px;
        }

        @include mq(phone-only) {
            height: 150px;
        }

        @include mq(phone-sm) {
            height: 120px;
        }

    }

    .card-body {
        padding: 0;

        &-price {
            margin-top: 8px;

            span {
                font-size: 28px;
                font-weight: 600;

                @include mq(tablet-portrait-up) {
                    font-size: 20px;
                }

                @include mq(phone-only) {
                    font-size: 16px;
                }

                @include mq(phone-sm) {
                    font-size: 12px;
                }

            }

            img {
                background: #F76E13;
                padding: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;

                @include mq(tablet-portrait-up) {
                    width: 30px;
                    height: 30px;
                }

                @include mq(phone-only) {
                    width: 20px;
                    height: 20px;
                    padding: 4px;
                }

                @include mq(phone-sm) {
                    width: 15px;
                    height: 15px;
                    padding: 4px;
                }
            }
        }

        &-title {
            margin-top: 12px;

            @include mq(phone-sm) {
                margin-top: 5px;
            }

            span {
                font-size: 24px;
                font-weight: 500;
                margin-top: 12px;

                @include mq(tablet-portrait-up) {
                    font-size: 20px;
                }

                @include mq(phone-only) {
                    font-size: 14px;
                }

                @include mq(phone-sm) {
                    font-size: 10px;
                }
            }
        }

        &-location {
            margin-top: 20px;

            @include mq(tablet-portrait-up) {
                flex-direction: column;
                margin-top: 12px;
                align-items: flex-start !important;
                gap: 8px;

            }

            .left {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;

                @include mq(phone-sm) {
                    gap: 0;
                }


                img {
                    width: 24px;
                    height: 24px;

                    @include mq(tablet-portrait-up) {
                        width: 20px;
                        height: 19px;
                    }

                    @include mq(phone-only) {
                        width: 16px;
                        height: 15px;
                    }

                    @include mq(phone-sm) {
                        width: 13px;
                        height: 12px;
                    }
                }

                .city {
                    font-weight: 500;
                    font-size: 21px;

                    @include mq(desktop-up){
                        font-size: 18px;
                    }

                    @include mq(tablet-portrait-up) {
                        font-size: 15px;
                    }

                    @include mq(phone-only) {
                        font-size: 12px;
                    }

                    @include mq(phone-sm) {
                        font-size: 8px;
                    }
                }
            }

            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;

                @include mq(tablet-portrait-up) {
                    gap: 9px;
                }

                @include mq(phone-only) {
                    gap: 3px;
                }

                img {
                    width: 18px;
                    height: 18px;

                    @include mq(phone-only) {
                        width: 12px;
                        height: 12px;
                    }

                    @include mq(phone-sm) {
                        width: 10px;
                        height: 10px;
                    }
                }

                .date {
                    font-size: 14px;
                    font-weight: 500;

                    @include mq(phone-only) {
                        font-size: 10px;
                    }

                    @include mq(phone-sm) {
                        font-size: 8px;
                    }
                }
            }
        }
    }

}