.card {
    padding: 20px 10px;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-sizing: border-box;

    .logo {
        padding: 5px 10px;
        top: 36px;
        left: 27px;

        span {
            font-size: 14px;

            @include mq(phone-sm) {
                font-size: 10px;
            }
        }
    }

    .badgets {
        top: 36px;
        right: 27px;
        gap: 12px;

        @include mq(phone-sm) {
            gap: 5px;
        }

        .badget {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            color: white;

            @include mq(phone-sm) {
                width: 30px;
                height: 30px;
            }

            span {
                font-size: 16px;
            }
        }

        .document {
            background-color: #00AA08;
        }

        .percent {
            background-color: #F76E13;
        }

        .vip {
            background-color: #E5A51B;
        }
    }

    .card-img-top {
        height: 280px;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
    }

    .card-body-price {
        font-size: 28px;
        font-weight: 600;
        margin-top: 8px;
        padding: 0;

        @include mq(phone-sm) {
            font-size: 20px;
        }

        img {
            background: #F76E13;
            padding: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            @include mq(phone-sm) {
                width: 30px;
                height: 30px;
            }
        }
    }

    .card-body-title {
        font-size: 21px;
        font-weight: 500;
        margin-top: 12px;

        @include mq(phone-sm) {
            font-size: 15px;
        }
    }

    .card-body-location {
        margin-top: 20px;

        span {
            font-weight: 500;
            font-size: 21px;

            @include mq(phone-sm) {
                font-size: 12px !important;
            }

            @include mq(phone-only) {
                font-size: 15px;
            }
        }

        img {
            @include mq(phone-sm) {
                width: 15px;
                height: 15px;
            }
        }
    }

    .date {
        font-size: 14px;
        gap: 12px;

        @include mq(phone-sm) {
            gap: 5px;
        }

        span {
            @include mq(phone-sm) {
                font-size: 12px !important;
            }

            @include mq(phone-only) {
                font-size: 15px;
            }
        }

        img {
            @include mq(phone-sm) {
                width: 15px;
                height: 15px;
            }
        }
    }

}