.card {
    padding: 20px 10px;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-sizing: border-box;


    .logo {
        padding: 5px 10px;
        top: 36px;
        left: 27px;

        span {
            font-size: 14px;

            @include mq(phone-sm) {
                font-size: 10px;
            }
        }
    }

    .badgets {
        top: 36px;
        right: 27px;
        gap: 12px;

        @include mq(phone-sm) {
            gap: 5px;
        }

        .badget {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            color: white;

            @include mq(phone-sm) {
                width: 30px;
                height: 30px;
            }

            span {
                font-size: 16px;
            }
        }

        .document {
            background-color: #00AA08;
        }

        .percent {
            background-color: #F76E13;
        }

        .vip {
            background-color: #E5A51B;
        }
    }

    .card-img-top {
        height: 280px;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
    }

    .card-body {
        &-price {
            margin-top: 8px;
            span {
                font-size: 28px;
                font-weight: 600;
            }

            img {
                background: #F76E13;
                padding: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        &-title {
            margin-top: 12px;
            span {
                font-size: 24px;
                font-weight: 500;
                margin-top: 12px;

                @include mq(tablet-portrait-up){
                    font-size: 21px;
                }
            }
        }

        &-location {
            margin-top: 20px;

            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;

                img {
                    width: 24px;
                    height: 24px;

                    @include mq(phone-only){
                        width: 21px;
                        height: 21px;
                    }
                }

                .city {
                    font-weight: 500;
                    font-size: 21px;

                    @include mq(phone-only ){
                        font-size: 16px;
                    }
                }
            }

            .left {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;

                img {
                    width: 18px;
                    height: 18px;
                }

                .date {
                    font-size: 14px;
                }
            }
        }
    }

}