Footer{
    width: 100%;

    .footer-container-white {
        padding-top: 25px;
        font-size: 14px;
        border-top: 1px solid white;
        color: white;
        font-weight: 500;
    
        .footer-social {
            gap: 22px;
            color: white;
    
            .social-icon{
                filter: invert(100%) brightness(100%);
            }
    
        }
    }
    
    .footer-container-black {
        padding-top: 25px;
        font-size: 14px;
        border-top: 1px solid black;
        font-weight: 500;
    
        .footer-social {
            gap: 22px;
        }
    }
}

