.links-container {
    margin-top: 60px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 12px;

    @include mq(tablet-portrait-up) {
        margin-top: 24px;
        background-color: white;
    }

    .text-1 {
        @include mq(tablet-portrait-up) {
            display: none;
        }
    }

    .text-2 {
        display: none;

        @include mq(tablet-portrait-up) {
            display: inline-block;
        }
    }

    a {
        font-size: 21px;
        background-color: white;
        font-weight: 500;
        border-radius: 12px;

        @include mq(tablet-portrait-up) {
            font-size: 21px;
            background-color: #f0f0f0;
            width: 48%;
        }

        @include mq(phone-only) {
            font-size: 14px;
        }
    }

    .search{
        @include mq(tablet-portrait-up) {
            display: none;
        }
    }

    .active {
        background-color: #1D74D8;
        border: none;
        color: white;
    }
}

