.links-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 12px;

    @include mq(tablet-portrait-up) {

        background-color: white;
    }

    .text-1 {
        @include mq(tablet-portrait-up) {
            display: none;
        }
    }

    .text-2 {
        display: none;

        @include mq(tablet-portrait-up) {
            display: inline-block;
        }
    }

    a {
        font-size: 21px;
        background-color: white;
        font-weight: 500;
        border-radius: 12px;

        @include mq(tablet-portrait-up) {
            font-size: 16px;
            background-color: #f0f0f0;
            width: 48%;
        }

        @include mq(phone-only) {
            font-size: 12px;
        }

        @include mq(phone-sm) {
            font-size: 14px;
        }
    }

    .search{
        @include mq(tablet-portrait-up) {
            display: none;
        }
    }

    .active {
        background-color: #1D74D8;
        border: none;
        color: white;
    }
}

.tooltip-inner {
    background-color: white !important;
    color: #000 !important;
    padding: 20px 10px !important;
    display: flex;
    width: 500px !important;
}

.tooltip-inner span {
    text-align: left;
}

.tooltip-inner img {
    margin-right: 10px !important;
    width: 24px;
    height: 24px;
}