    // img modal

    .image-modal {
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    // anoouncement modal

    .announcement-modal {

        .modal-content {
            border-radius: 30px;
            padding: 30px 0;

            .modal-header {
                text-align: center;
                font-size: 21px;
                border-bottom: none;
                text-transform: capitalize;
                gap: 12px;
                font-weight: 500;
                padding: 0 10px;

                @include mq(phone-only){
                    font-size: 12px;
                }

                .announcement-code {
                    font-size: 24px;
                    font-weight: 500;

                    @include mq(phone-only){
                        font-size: 15px;
                    }
                }
            }

            .modal-body {
                padding: 0;
                padding: 30px 64px;

                @include mq(phone-only){
                    padding: 15px 32px;
                }

                .announcement-types {
                    gap: 14px;

                    label {
                        background-color: #F2F2F2;
                        padding: 20px 20px;
                        border-radius: 12px;

                        input {
                            width: 24px;
                            height: 24px;

                            @include mq(phone-only){
                                width: 18px;
                                height: 18px;
                            }
                        }

                        .badges {
                            margin-left: 10px;

                            .type {
                                color: blue;
                            }

                            .price {
                                color: black;
                            }

                            span {
                                text-align: left;
                                font-size: 18px;

                                @include mq(phone-sm){
                                    font-size: 12px;
                                }

                                // @include mq(phone-only){
                                //     font-size: 10px;
                                // }
                            }

                            .type-vip {
                                color: #E51B1B;
                            }

                            .type-premium {
                                color: #F76E13;
                            }
                        }

                        img{
                            @include mq(phone-only){
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }

            .modal-footer {
                padding: 0 64px;
                border: none;

                button {
                    font-size: 18px;
                    padding: 10px 30px;
                }
            }

            .close {
                position: absolute;
                top: 0;
                right: 0;
                background-color: transparent;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

    }

    // balance modal

    .balance-modal {
        .modal-content {
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .modal-header {
                border: none;
                padding: 0 !important;
                display: flex;
                justify-content: center;

                span {
                    text-align: center;
                    font-size: 32px;
                    font-weight: 600;
                    white-space: nowrap;

                    @include mq(tablet-portrait-up){
                        font-size: 28px;
                    }

                    @include mq(phone-only){
                        font-size: 22px;
                    }

                    @include mq(phone-only){
                        font-size: 20px;
                    }
                }
            }

            .modal-body {
                padding: 0;

                label {
                    color: #5F5F5F;
                    font-size: 18px;
                    font-weight: 500;
                }

                .input-group {
                    border: 1px solid lightgray;
                    border-radius: 12px;
                    padding: 5px;


                    input {
                        box-shadow: none;

                    }

                }
            }

            .modal-footer {
                padding: 0;
                border: none;

                button {
                    width: 100%;
                    color: #FFF;
                    font-size: 21px;
                    border-radius: 12px;
                }
            }

            .close {
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }


    }