// .tooltip-inner {
//     background-color: white !important;
//     color: #000 !important;
//     padding: 20px 10px !important;
//     display: flex;
//     width: 600px !important;
// }

// .tooltip-inner span {
//     text-align: left;
// }

// .tooltip-inner img {
//     margin-right: 10px !important;
//     width: 24px;
//     height: 24px;
// }


// /* Tooltip ok işaretinin rengini değiştirmek için */
// .tooltip .tooltip-arrow {
//     border-color: transparent transparent white transparent; /* Ok işaretinin rengini kırmızı yapar */
//   }



// .custom-tooltip {
//   position: relative;
//   display: inline-block;

//   .tooltip-content {
//     display: none; /* Başlangıçta gizli */
//     position: absolute;
//     width: 300px; /* Sabit genişlik */

//     height: 200px;
//     bottom: 105%; /* Tooltip'in yukarıya doğru konumlanması */
//     left: 50%;
//     transform: translateX(-50%);
//     background-color: #fff;
//     color: #000;
//     padding: 8px;
//     border-radius: 12px;
//     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
//     white-space: normal; /* Satırlar kırılabilir */
//     font-size: 14px;
//     z-index: 1000;
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.3s ease, visibility 0.3s ease;

//     img {
//       width: 20px; /* Görsel boyutunu ayarlayabilirsiniz */
//       height: 20px;
//       margin-right: 8px;
//       vertical-align: middle;
//     }

//     span {
//       vertical-align: middle;
//       background-color: green;
//       word-wrap: break-word; /* Uzun kelimeleri bir sonraki satıra taşır */
//     }

//   }

//   &:hover {
//     .tooltip-content {
//       display: block; /* Tooltip görünür hale gelir */
//       opacity: 1;
//       visibility: visible;
//     }
//   }

//   &::before {
//     content: '';
//     position: absolute;
//     bottom: 88%; /* Ok işaretinin doğru konumlanması */
//     left: 50%;
//     transform: translateX(-50%) rotate(180deg); /* Ok işaretini yukarıya çevir */
//     border-width: 9px;
//     border-style: solid;
//     border-color: transparent transparent white transparent; /* Ok işaretinin rengi */
//     z-index: 999;
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 0.3s ease, visibility 0.3s ease; /* Ok işaretinin geçişi */
//   }

//   &:hover::before {
//     opacity: 1;
//     visibility: visible;
//   }
// }



.custom-tooltip {
  .tooltip-inner {
    background-color: white !important;
    color: #000 !important;
    padding: 20px 10px !important;
    display: flex;

    span {
      text-align: left !important;
    }

    img {
      margin-right: 10px;
      margin-bottom: auto;

    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    z-index: 999;
    box-shadow: none;
    border-radius: 0;
  }
}






