.custom-tooltip {
  .tooltip-inner {
    background-color: white !important;
    color: #000 !important;
    padding: 20px 10px !important;
    display: flex;

    span {
      text-align: left !important;
    }

    img {
      margin-right: 10px;
      margin-bottom: auto;

    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    z-index: 999;
    box-shadow: none;
    border-radius: 0;
  }
}






