@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  box-sizing: border-box;
}

.swiper {
  padding: 0 28px;
}
@media only screen and (max-width: 768px) {
  .swiper {
    padding: 0;
  }
}

.mySwiper {
  margin-top: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: rgba(225, 225, 225, 0.64);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  padding: 30px 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: bolder;
}

.swiper-button-prev {
  left: 0;
}
@media only screen and (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  right: 0;
}
@media only screen and (max-width: 768px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 20px !important;
}

.mySwiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #e2dfdf;
  opacity: 0.7;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #0056b3;
  opacity: 1;
}

.image-upload-container {
  display: flex;
  flex-wrap: wrap;
}
.image-upload-container .image-input {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 15px;
}
.image-upload-container .image-input label {
  border: 2px dashed #5f5f5f;
  background-color: #f0f0f0;
  padding: 30px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: #555;
  transition: all 0.3s ease;
  gap: 7px;
  font-size: 18px;
}
.image-upload-container .image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 24px;
}
.image-upload-container .image-preview img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-upload-container .image-preview .image-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}
.image-upload-container .image-preview .image-actions button {
  border: none;
  background-color: transparent;
}
.image-upload-container .image-preview .image-actions button img {
  width: 24px;
  height: 24px;
}
.image-upload-container .image-preview .image-actions button .turn-img {
  width: 16px;
  height: 16px;
}
.image-upload-container .large label {
  width: 305px;
  height: 90px;
  justify-content: start;
}
@media only screen and (max-width: 380px) {
  .image-upload-container .large label {
    width: 250px;
  }
}
.image-upload-container .large label .plus-icon {
  display: none !important;
}
.image-upload-container .large .under-text {
  display: none;
}
.image-upload-container .small {
  gap: 4px;
}
.image-upload-container .small label {
  width: 80px;
  height: 80px;
  justify-content: center;
  background-color: #f3f3f3;
}
.image-upload-container .small label .img-icon {
  display: none;
}
.image-upload-container .small label span {
  display: none;
}
.image-upload-container .small label .plus-icon {
  background-color: blue;
  padding: 5px;
  border-radius: 50%;
}
.image-upload-container .small label .plus-icon img {
  padding: 5px;
}
.image-upload-container .small .under-text {
  font-size: 12px;
  font-weight: 500;
  color: #5f5f5f;
}

.upload-hint {
  font-size: 12px;
  font-family: "Poppins";
  color: #5f5f5f;
  margin-top: 4px;
  padding: 0;
  padding-left: 15px;
}

.file-input {
  display: none;
}

.image-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}
.image-modal .close img {
  width: 40px;
  height: 40px;
}

.announcement-modal .modal-content {
  border-radius: 30px;
  padding: 30px 0;
}
.announcement-modal .modal-content .modal-header {
  text-align: center;
  font-size: 21px;
  border-bottom: none;
  text-transform: capitalize;
  gap: 12px;
  font-weight: 500;
  padding: 0 10px;
}
.announcement-modal .modal-content .modal-header .announcement-code {
  font-size: 24px;
  font-weight: 500;
}
.announcement-modal .modal-content .modal-body {
  padding: 0;
  padding: 30px 64px;
}
.announcement-modal .modal-content .modal-body .announcement-types {
  gap: 14px;
}
.announcement-modal .modal-content .modal-body .announcement-types label {
  background-color: #F2F2F2;
  padding: 20px 20px;
  border-radius: 12px;
}
.announcement-modal .modal-content .modal-body .announcement-types label input {
  width: 24px;
  height: 24px;
}
.announcement-modal .modal-content .modal-body .announcement-types label .badges {
  margin-left: 10px;
}
.announcement-modal .modal-content .modal-body .announcement-types label .badges .type {
  color: blue;
}
.announcement-modal .modal-content .modal-body .announcement-types label .badges .price {
  color: black;
}
.announcement-modal .modal-content .modal-body .announcement-types label .badges span {
  text-align: left;
  font-size: 18px;
}
.announcement-modal .modal-content .modal-body .announcement-types label .badges .type-vip {
  color: #E51B1B;
}
.announcement-modal .modal-content .modal-body .announcement-types label .badges .type-premium {
  color: #F76E13;
}
.announcement-modal .modal-content .modal-footer {
  padding: 0 64px;
}
.announcement-modal .modal-content .modal-footer button {
  font-size: 18px;
  padding: 10px 30px;
}

.form-container .custom-select {
  color: #5F5F5F;
  padding: 15px 12px 15px 14px;
  font-size: 21px;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../icons/arrow-outlined.svg");
  background-repeat: no-repeat;
  background-size: 12px 24px;
}

.card-header span {
  font-size: 28px;
  font-weight: 500;
}
.card-header .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: #323232;
  padding: 10px 40px 10px 15px;
  background-image: url("../icons/filter-icon.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px 24px;
}
@media only screen and (max-width: 768px) {
  .card-header .custom-select {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-position: right 15px center;
  }
}

.homepage-container {
  padding-bottom: 48px;
}
.homepage-container .form-container {
  margin-top: 60px;
}
.homepage-container .form-container label {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 7px;
}
.homepage-container .form-container input {
  border: 1px solid lightgray;
  margin-bottom: 20px;
  outline: none;
  font-size: 21px;
  padding: 15px 12px 15px 14px;
  color: #5f5f5f;
}
.homepage-container .vip-announcement-container {
  margin-top: 60px;
}
.homepage-container .latest-announcement-container {
  margin-top: 60px;
  margin-bottom: 195px;
}
.homepage-container .latest-announcement-container .latest-announcement-body {
  margin-top: 40px;
}

.registration-container {
  min-height: 100vh;
  gap: 30px;
}
.registration-container .background {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../icons/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.registration-container .registration-card {
  padding: 50px 40px;
  gap: 42px;
}
.registration-container .registration-card .registration-title span {
  font-size: 32px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .registration-container .registration-card .registration-title span {
    font-size: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .registration-title span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .registration-container .registration-card .registration-title span {
    font-size: 16px;
  }
}
.registration-container .registration-card .registration-form label {
  font-size: 18px;
  margin-bottom: 6px;
}
@media only screen and (max-width: 768px) {
  .registration-container .registration-card .registration-form label {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .registration-form label {
    font-size: 10px;
  }
}
.registration-container .registration-card .registration-form .input-group {
  padding: 15px 12px 15px 14px;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.registration-container .registration-card .registration-form .input-group input {
  box-shadow: none;
  font-size: 21px;
  padding: 0;
  border-left: 1px solid gray !important;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .registration-container .registration-card .registration-form .input-group input {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .registration-form .input-group input {
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .registration-container .registration-card .registration-form .input-group input {
    font-size: 12px;
  }
}
.registration-container .registration-card .registration-form .input-group span {
  padding: 0;
  padding-right: 10px;
  font-size: 21px;
  border: none;
}
@media only screen and (max-width: 768px) {
  .registration-container .registration-card .registration-form .input-group span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .registration-form .input-group span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .registration-container .registration-card .registration-form .input-group span {
    font-size: 12px;
  }
}
.registration-container .registration-card .btn {
  font-size: 21px;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .registration-container .registration-card .btn {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .btn {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .btn {
    font-size: 12px;
  }
}

.card {
  padding: 20px 10px;
  background-color: #f2f2f2;
  border-radius: 12px;
  box-sizing: border-box;
}
.card .logo {
  padding: 5px 10px;
  top: 36px;
  left: 27px;
}
.card .logo span {
  font-size: 14px;
}
@media only screen and (max-width: 380px) {
  .card .logo span {
    font-size: 10px;
  }
}
.card .badgets {
  top: 36px;
  right: 27px;
  gap: 12px;
}
@media only screen and (max-width: 380px) {
  .card .badgets {
    gap: 5px;
  }
}
.card .badgets .badget {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
}
@media only screen and (max-width: 380px) {
  .card .badgets .badget {
    width: 30px;
    height: 30px;
  }
}
.card .badgets .badget span {
  font-size: 16px;
}
.card .badgets .document {
  background-color: #00AA08;
}
.card .badgets .percent {
  background-color: #F76E13;
}
.card .badgets .vip {
  background-color: #E5A51B;
}
.card .card-img-top {
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px;
}
.card .card-body-price {
  margin-top: 8px;
}
.card .card-body-price span {
  font-size: 28px;
  font-weight: 600;
}
.card .card-body-price img {
  background: #F76E13;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.card .card-body-title {
  margin-top: 12px;
}
.card .card-body-title span {
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
}
@media only screen and (max-width: 768px) {
  .card .card-body-title span {
    font-size: 21px;
  }
}
.card .card-body-location {
  margin-top: 20px;
}
.card .card-body-location .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.card .card-body-location .right img {
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 480px) {
  .card .card-body-location .right img {
    width: 21px;
    height: 21px;
  }
}
.card .card-body-location .right .city {
  font-weight: 500;
  font-size: 21px;
}
@media only screen and (max-width: 480px) {
  .card .card-body-location .right .city {
    font-size: 16px;
  }
}
.card .card-body-location .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.card .card-body-location .left img {
  width: 18px;
  height: 18px;
}
.card .card-body-location .left .date {
  font-size: 14px;
}

.links-container {
  margin-top: 89px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 12px;
}
@media only screen and (max-width: 480px) {
  .links-container {
    background-color: white;
  }
}
@media only screen and (max-width: 768px) {
  .links-container .text-1 {
    display: none;
  }
}
.links-container .text-2 {
  display: none;
}
@media only screen and (max-width: 768px) {
  .links-container .text-2 {
    display: inline-block;
  }
}
.links-container a {
  font-size: 21px;
  background-color: white;
}
@media only screen and (max-width: 768px) {
  .links-container a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .links-container a {
    width: 109px;
    font-size: 12px;
    background-color: #f0f0f0;
    font-weight: 500;
  }
}
@media only screen and (max-width: 380px) {
  .links-container a {
    width: 90px;
    font-size: 10px;
  }
}
.links-container .active {
  background-color: #1D74D8;
  border: none;
  color: white;
}

.tooltip-inner {
  background-color: white !important;
  color: #000 !important;
  padding: 20px 10px !important;
  display: flex;
  width: 500px !important;
}

.tooltip-inner span {
  text-align: left;
}

.tooltip-inner img {
  margin-right: 10px !important;
  width: 24px;
  height: 24px;
}

Header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  Header {
    justify-content: flex-end;
    gap: 10px;
  }
}
Header .header-left {
  gap: 32px;
}
Header .header-left .logo {
  background-color: #e7e7e7;
  padding: 20px 80px;
  font-family: "Inter";
}
@media only screen and (max-width: 768px) {
  Header .header-left .logo {
    display: none;
  }
}
Header .header-left .input-group {
  margin-top: auto;
  padding-left: 30px;
  background-color: #f5f5f5;
}
@media only screen and (max-width: 768px) {
  Header .header-left .input-group {
    padding: 0;
  }
  Header .header-left .input-group .search-input {
    display: none;
  }
  Header .header-left .input-group img {
    padding: 4px;
  }
  Header .header-left .input-group .input-group-text {
    padding: 10px;
    border-radius: 50% !important;
  }
}
Header .header-left .input-group .search-icon {
  cursor: pointer;
}
Header .btn-group {
  gap: 10px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
@media only screen and (max-width: 768px) {
  Header .btn-group {
    margin: 0;
  }
}
Header .btn-group a {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  Header .btn-group a {
    font-size: 14px;
    padding: 10px 22px;
  }
}
@media only screen and (max-width: 380px) {
  Header .btn-group a {
    font-size: 12px;
    padding: 10px 16xpx;
  }
}
Header .btn-group .btn-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e7e7e7;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
Header .btn-group .btn-profile img {
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 1024px) {
  Header .btn-group .new {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  Header .btn-group .entrust {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .active {
    flex-direction: column;
    gap: 20px;
  }
  .active .btn-group {
    order: -1;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .active .input-group {
    width: 100%;
    border-radius: 20px;
    padding: 0;
  }
  .active .input-group .search-input {
    border-radius: 12px;
    display: inline-block !important;
  }
}

Footer {
  width: 100%;
}
Footer .footer-container-white {
  padding-top: 25px;
  font-size: 14px;
  border-top: 1px solid white;
  color: white;
  font-weight: 500;
}
Footer .footer-container-white .footer-social {
  gap: 22px;
  color: white;
}
Footer .footer-container-white .footer-social .social-icon {
  filter: invert(100%) brightness(100%);
}
Footer .footer-container-black {
  padding-top: 25px;
  font-size: 14px;
  border-top: 1px solid black;
  font-weight: 500;
}
Footer .footer-container-black .footer-social {
  gap: 22px;
}

.verification-container {
  min-height: 100vh;
  gap: 40px;
}
.verification-container .background {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../icons/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.verification-container .verification-card {
  gap: 32px;
  padding: 50px 40px;
}
.verification-container .verification-card .card-title {
  gap: 18px;
}
.verification-container .verification-card .card-title :first-child {
  font-size: 32px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .verification-container .verification-card .card-title :first-child {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  .verification-container .verification-card .card-title :first-child {
    font-size: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .verification-container .verification-card .card-title :first-child {
    font-size: 16px;
  }
}
.verification-container .verification-card .card-title :last-child {
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .verification-container .verification-card .card-title :last-child {
    font-size: 16px;
  }
}
@media only screen and (max-width: 380px) {
  .verification-container .verification-card .card-title :last-child {
    font-size: 12px;
  }
}
.verification-container .verification-card .verification-form label {
  font-size: 18px;
  margin-bottom: 6px;
}
@media only screen and (max-width: 768px) {
  .verification-container .verification-card .verification-form label {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .verification-form label {
    font-size: 10px;
  }
}
.verification-container .verification-card .verification-form .input-group {
  padding: 15px 12px 15px 14px;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.verification-container .verification-card .verification-form .input-group input {
  box-shadow: none;
  font-size: 21px;
  padding: 0;
  border-left: 1px solid gray !important;
  padding-left: 10px;
  border-radius: 0;
}
@media only screen and (max-width: 768px) {
  .verification-container .verification-card .verification-form .input-group input {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .verification-form .input-group input {
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .verification-container .verification-card .verification-form .input-group input {
    font-size: 12px;
  }
}
.verification-container .verification-card .verification-form .resent-btn {
  font-size: 18px;
  color: #1D74D8;
  background-color: white;
  border: none;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .verification-container .verification-card .verification-form .resent-btn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 380px) {
  .verification-container .verification-card .verification-form .resent-btn {
    font-size: 12px;
  }
}
.verification-container .verification-card .btn {
  font-size: 21px;
  border-radius: 12px;
  padding: 15px 12px 15px 14px;
}
@media only screen and (max-width: 768px) {
  .verification-container .verification-card .btn {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .btn {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .btn {
    font-size: 12px;
  }
}

.newAnnouncement-container .title {
  font-size: 42px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 42px;
}
@media only screen and (max-width: 768px) {
  .newAnnouncement-container .title {
    font-size: 32px;
  }
}
.newAnnouncement-container .form-container {
  margin-top: 40px;
}
.newAnnouncement-container .form-container span {
  background-color: transparent;
  font-size: 21px;
  border: none;
}
.newAnnouncement-container .form-container label {
  font-size: 21px;
  font-weight: 600;
}
.newAnnouncement-container .form-container .input-group {
  padding: 15px 12px 15px 14px;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.newAnnouncement-container .form-container .input-group input {
  box-shadow: none;
  font-size: 21px;
  padding: 0;
  padding-left: 10px;
  border: none;
  font-weight: 500;
  color: #5f5f5f;
}
.newAnnouncement-container .form-container .input-group .telephone {
  border: none;
  border-left: 1px solid gray !important;
}
.newAnnouncement-container .form-container .input-group span {
  padding: 0;
  padding-right: 10px;
  font-size: 21px;
  border: none;
  font-weight: 500;
  color: #5f5f5f;
}
@media only screen and (max-width: 768px) {
  .newAnnouncement-container .form-container .input-group span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .newAnnouncement-container .form-container .input-group span {
    font-size: 15px;
  }
}
.newAnnouncement-container .form-container textarea {
  padding: 15px 24px 170px 14px;
  border-radius: 12px;
  outline: none;
  font-size: 21px;
  font-weight: 500;
}
.newAnnouncement-container .form-container .checkbox {
  gap: 53px;
}
.newAnnouncement-container .form-container .checkbox div {
  height: -moz-fit-content;
  height: fit-content;
}
.newAnnouncement-container .form-container .checkbox input {
  width: 24px;
  height: 24px;
}
.newAnnouncement-container .form-container .accept {
  gap: 12px;
}
.newAnnouncement-container .form-container .accept label {
  font-size: 18px;
}
@media only screen and (max-width: 480px) {
  .newAnnouncement-container .form-container .accept input {
    width: 35px;
    height: 35px;
  }
}
.newAnnouncement-container .create {
  gap: 12px;
  margin-bottom: 15px;
  margin-top: 41px;
}
@media only screen and (max-width: 768px) {
  .newAnnouncement-container .create {
    flex-direction: column;
  }
  .newAnnouncement-container .create .confirm {
    order: -1;
  }
}
.newAnnouncement-container .create .btn {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .newAnnouncement-container .create .btn {
    width: 100%;
  }
}
.newAnnouncement-container .create .cancel {
  background-color: #D4D4D4;
  color: white;
}

.entrust-container .title {
  font-size: 42px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 42px;
}
@media only screen and (max-width: 768px) {
  .entrust-container .title {
    font-size: 32px;
  }
}
.entrust-container .create {
  gap: 12px;
  margin-bottom: 127px;
  margin-top: 64px;
}
@media only screen and (max-width: 768px) {
  .entrust-container .create {
    flex-direction: column;
  }
  .entrust-container .create .confirm {
    order: -1;
  }
}
.entrust-container .create .btn {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .entrust-container .create .btn {
    width: 100%;
  }
}
.entrust-container .create .cancel {
  background-color: #D4D4D4;
  color: white;
}
.entrust-container .user-role {
  margin-top: 85px;
}
.entrust-container .user-role .nav-pills .nav-link {
  color: #5F5F5F;
  border: none;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  transition: border-color 0.3s ease;
  font-size: 21px;
}
.entrust-container .user-role .nav-pills .nav-link.act, .entrust-container .user-role .nav-pills .nav-link.active {
  color: #1D74D8;
  border-bottom: 2px solid #1D74D8;
}
.entrust-container .form-container {
  margin-top: 40px;
}
.entrust-container .form-container span {
  background-color: transparent;
  font-size: 21px;
  border: none;
}
.entrust-container .form-container label {
  font-size: 21px;
  font-weight: 600;
}
.entrust-container .form-container .input-group {
  padding: 15px 12px 15px 14px;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.entrust-container .form-container .input-group input {
  box-shadow: none;
  font-size: 21px;
  padding: 0;
  padding-left: 10px;
  border: none;
  font-weight: 500;
  color: #5f5f5f;
}
.entrust-container .form-container .input-group .telephone {
  border: none;
  border-left: 1px solid gray !important;
}
.entrust-container .form-container .input-group span {
  padding: 0;
  padding-right: 10px;
  font-size: 21px;
  border: none;
  font-weight: 500;
  color: #5f5f5f;
}
@media only screen and (max-width: 768px) {
  .entrust-container .form-container .input-group span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .entrust-container .form-container .input-group span {
    font-size: 15px;
  }
}
.entrust-container .form-container textarea {
  padding: 15px 24px 120px 14px;
  border-radius: 12px;
  outline: none;
  font-size: 21px;
  font-weight: 500;
}
.entrust-container .form-container .checkbox {
  gap: 53px;
}
.entrust-container .form-container .checkbox div {
  height: -moz-fit-content;
  height: fit-content;
}
.entrust-container .form-container .checkbox input {
  width: 24px;
  height: 24px;
}
.entrust-container .form-container .accept {
  gap: 12px;
}
.entrust-container .form-container .accept label {
  font-size: 18px;
}
@media only screen and (max-width: 480px) {
  .entrust-container .form-container .accept input {
    width: 35px;
    height: 35px;
  }
}

.announcement-page-container .breadcrumb-container {
  margin-top: 70px;
}
.announcement-page-container .breadcrumb-container .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.announcement-page-container .breadcrumb-container .breadcrumb .breadcrumb-item {
  display: inline-block;
  font-size: 16px;
}
.announcement-page-container .breadcrumb-container .breadcrumb .breadcrumb-item:not(:first-child)::before {
  content: ">";
  padding: 0 8px;
  color: #6c757d;
}
.announcement-page-container .breadcrumb-container .breadcrumb .breadcrumb-item a {
  color: #686868;
  text-decoration: none;
}
.announcement-page-container .breadcrumb-container .breadcrumb .breadcrumb-item.active {
  color: black;
}
.announcement-page-container .announcement-container {
  gap: 28px;
  margin-top: 36px;
  background-color: red;
}
.announcement-page-container .announcement-container .announcement-title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.announcement-page-container .announcement-container .announcement {
  background-color: green;
}
.announcement-page-container .announcement-container .announcement .left {
  background-color: yellow;
}
.announcement-page-container .announcement-container .announcement .right {
  background-color: gray;
}

.profile-page-container .profile-page-title {
  margin-top: 70px;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.profile-page-container .profile {
  margin-top: 36px;
  padding: 30px;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 12px;
}
.profile-page-container .profile .left {
  gap: 14px;
}
.profile-page-container .profile .left .img {
  width: 150px;
  height: 150px;
}
.profile-page-container .profile .left .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.profile-page-container .profile .left .name {
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  gap: 21px;
}
.profile-page-container .profile .left .name .correction {
  background-color: #E1EFFF;
  border-radius: 12px;
}
.profile-page-container .profile .left .name .correction span {
  font-size: 14px;
  font-weight: 600;
  color: #1D74D8;
}
.profile-page-container .profile .right {
  gap: 21px;
}
.profile-page-container .profile .right .subscribe {
  background-color: #EFF0FF;
  color: #1D74D8;
  font-weight: 600;
  padding: 15px;
  border-radius: 12px;
}
.profile-page-container .profile .right .balance {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 12px;
  gap: 21px;
}
.profile-page-container .profile .right .balance div {
  gap: 10px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.profile-page-container .profile .right .balance .success {
  background-color: #11AB2D;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.profile-page-container .my-announcements {
  margin-top: 60px;
  gap: 21px;
}
.profile-page-container .my-announcements .my-announcements-navbar {
  gap: 16px;
}
.profile-page-container .my-announcements .my-announcements-navbar .nav {
  gap: 16px;
  align-items: center;
}
.profile-page-container .my-announcements .my-announcements-navbar .check {
  filter: brightness(37%) contrast(100%);
}
.profile-page-container .my-announcements .my-announcements-navbar button {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #e7e7e7;
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 500;
}
.profile-page-container .my-announcements .my-announcements-navbar .active {
  background-color: #1D74D8;
  color: white;
  flex-direction: row;
}
.profile-page-container .my-announcements .my-announcements-cards {
  margin-top: 40px;
}
.profile-page-container .my-announcements .my-announcements-cards .tab-pane {
  background-color: green;
}/*# sourceMappingURL=style.css.map */