@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  box-sizing: border-box;
}

.swiper {
  padding: 0 28px;
}

.mySwiper {
  margin-top: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  background-color: rgba(225, 225, 225, 0.64);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  padding: 30px 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: bolder;
}

.swiper-button-prev {
  left: 2px;
}
@media only screen and (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  right: 2px;
}
@media only screen and (max-width: 768px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 20px !important;
}

.mySwiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #e2dfdf;
  opacity: 0.7;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #0056b3;
  opacity: 1;
}

.homepage-container {
  padding-bottom: 48px;
}
.homepage-container .form-container {
  margin-top: 60px;
}
.homepage-container .form-container .custom-select {
  color: #5F5F5F;
  padding: 15px 12px 15px 14px;
  font-size: 21px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../icons/arrow-outlined.svg");
  background-repeat: no-repeat;
  background-size: 12px 24px;
}
.homepage-container .form-container label {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 5px;
}
.homepage-container .form-container input {
  border: 1px solid lightgray;
  margin-bottom: 27px;
  outline: none;
  font-size: 21px;
  padding: 15px 12px 15px 14px;
  color: #5f5f5f;
}
.homepage-container .vip-announcement-container {
  margin-top: 60px;
}
.homepage-container .vip-announcement-container .vip-announcement-header {
  padding: 0 20px;
}
.homepage-container .vip-announcement-container .vip-announcement-header span {
  font-size: 28px;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .homepage-container .vip-announcement-container .vip-announcement-header span {
    font-size: 15px !important;
  }
}
.homepage-container .vip-announcement-container .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: #323232;
  padding: 10px 40px 10px 15px;
  background-image: url("../icons/filter-icon.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px 24px;
}
@media only screen and (max-width: 480px) {
  .homepage-container .vip-announcement-container .custom-select {
    font-size: 12px !important;
  }
}
.homepage-container .latest-announcement-container {
  margin-top: 60px;
  margin-bottom: 195px;
}
.homepage-container .latest-announcement-container .latest-announcement-header {
  padding: 0 20px;
}
.homepage-container .latest-announcement-container .latest-announcement-header span {
  font-size: 28px;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .homepage-container .latest-announcement-container .latest-announcement-header span {
    font-size: 15px !important;
  }
}
.homepage-container .latest-announcement-container .latest-announcement-header .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: #323232;
  padding: 10px 40px 10px 15px;
  background-image: url("../icons/filter-icon.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px 24px;
}
@media only screen and (max-width: 480px) {
  .homepage-container .latest-announcement-container .latest-announcement-header .custom-select {
    font-size: 12px !important;
  }
}
.homepage-container .latest-announcement-container .latest-announcement-body {
  margin-top: 40px;
  padding: 0 20px;
}

.registration-container {
  min-height: 100vh;
  gap: 50px;
}
.registration-container .background {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../icons/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.registration-container .registration-card {
  gap: 42px;
  padding: 50px 40px;
}
.registration-container .registration-card .card-title span {
  font-size: 32px;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .card-title span {
    font-size: 24px;
  }
}
.registration-container .registration-card .signup-form label {
  font-size: 18px;
  margin-bottom: 6px;
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .signup-form label {
    font-size: 14px;
  }
}
.registration-container .registration-card .signup-form .input-group {
  padding: 15px 12px 15px 14px;
  border: 1px solid black;
  border-radius: 12px;
  gap: 6px;
}
.registration-container .registration-card .signup-form .input-group .input-group-text {
  font-size: 21px;
  border: none;
  border-right: 1px solid black;
}
@media only screen and (max-width: 768px) {
  .registration-container .registration-card .signup-form .input-group .input-group-text {
    font-size: 18px;
  }
}
.registration-container .registration-card .signup-form .input-group .input-group-text {
  font-size: 21px;
  border: none;
  border-right: 1px solid black;
}
@media only screen and (max-width: 768px) {
  .registration-container .registration-card .signup-form .input-group .input-group-text {
    font-size: 18px;
  }
}
.registration-container .registration-card .signup-form .input-group .form-control {
  box-shadow: none;
  font-size: 21px;
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .signup-form .input-group .form-control {
    font-size: 18px;
  }
}
.registration-container .registration-card .btn {
  font-size: 21px;
  border-radius: 12px;
  padding: 15px 12px 15px 14px;
}
@media only screen and (max-width: 480px) {
  .registration-container .registration-card .btn {
    font-size: 18px;
  }
}

.card {
  padding: 20px 10px;
  background-color: #f2f2f2;
  border-radius: 12px;
  box-sizing: border-box;
}
.card .logo {
  padding: 5px 10px;
  top: 36px;
  left: 27px;
}
.card .logo span {
  font-size: 14px;
}
@media only screen and (max-width: 380px) {
  .card .logo span {
    font-size: 10px;
  }
}
.card .badgets {
  top: 36px;
  right: 27px;
  gap: 12px;
}
@media only screen and (max-width: 380px) {
  .card .badgets {
    gap: 5px;
  }
}
.card .badgets .badget {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
}
@media only screen and (max-width: 380px) {
  .card .badgets .badget {
    width: 30px;
    height: 30px;
  }
}
.card .badgets .badget span {
  font-size: 16px;
}
.card .badgets .document {
  background-color: #00AA08;
}
.card .badgets .percent {
  background-color: #F76E13;
}
.card .badgets .vip {
  background-color: #E5A51B;
}
.card .card-img-top {
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px;
}
.card .card-body-price {
  font-size: 28px;
  font-weight: 600;
  margin-top: 8px;
  padding: 0;
}
@media only screen and (max-width: 380px) {
  .card .card-body-price {
    font-size: 20px;
  }
}
.card .card-body-price img {
  background: #F76E13;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media only screen and (max-width: 380px) {
  .card .card-body-price img {
    width: 30px;
    height: 30px;
  }
}
.card .card-body-title {
  font-size: 21px;
  font-weight: 500;
  margin-top: 12px;
}
@media only screen and (max-width: 380px) {
  .card .card-body-title {
    font-size: 15px;
  }
}
.card .card-body-location {
  margin-top: 20px;
}
.card .card-body-location span {
  font-weight: 500;
  font-size: 21px;
}
@media only screen and (max-width: 380px) {
  .card .card-body-location span {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 480px) {
  .card .card-body-location span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .card .card-body-location img {
    width: 15px;
    height: 15px;
  }
}
.card .date {
  font-size: 14px;
  gap: 12px;
}
@media only screen and (max-width: 380px) {
  .card .date {
    gap: 5px;
  }
}
@media only screen and (max-width: 380px) {
  .card .date span {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 480px) {
  .card .date span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .card .date img {
    width: 15px;
    height: 15px;
  }
}

.links-container {
  margin-top: 60px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .links-container .text-1 {
    display: none;
  }
}
.links-container .text-2 {
  display: none;
}
@media only screen and (max-width: 768px) {
  .links-container .text-2 {
    display: inline-block;
  }
}
.links-container a {
  font-size: 21px;
}
@media only screen and (max-width: 768px) {
  .links-container a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 380px) {
  .links-container .btn {
    width: 100px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .links-container .btn {
    width: 109px;
    font-size: 15px;
  }
}
.links-container .active {
  background-color: #1D74D8;
  border: none;
  color: white;
}

.header-container {
  padding-top: 10px;
  width: 100%;
}
.header-container .logo {
  background-color: #e7e7e7;
  padding: 20px 80px;
  font-family: "Inter";
}
@media only screen and (max-width: 768px) {
  .header-container .logo {
    display: none;
  }
}
.header-container .btn-group {
  gap: 10px;
}
.header-container .btn-group a {
  padding: 10px 30px;
  font-size: 16px;
}
@media only screen and (max-width: 480px) {
  .header-container .btn-group a {
    font-size: 14px;
  }
}
.header-container .input-group {
  margin-left: 30px;
  background-color: #f5f5f5;
  width: 25%;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .header-container .input-group {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: 50%;
    margin-left: auto;
  }
}
.header-container .input-group input {
  box-shadow: none;
}
@media only screen and (max-width: 768px) {
  .header-container .input-group input {
    display: none;
  }
}
.header-container .input-group .search-icon {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .active {
    flex-direction: column;
    gap: 20px;
  }
  .active .btn-group {
    order: -1;
  }
  .active .input-group {
    width: 100%;
    border-radius: 20px;
    padding: 0;
  }
  .active .input-group input {
    display: inline-block;
    border-radius: 12px;
    background-color: transparent;
  }
}

Footer {
  width: 100%;
}
Footer .footer-container-white {
  padding-top: 25px;
  font-size: 14px;
  border-top: 1px solid white;
  color: white;
}
Footer .footer-container-white .footer-social {
  gap: 22px;
  color: white;
}
Footer .footer-container-white .footer-social .social-icon {
  filter: invert(100%) brightness(100%);
}
Footer .footer-container-black {
  padding-top: 25px;
  font-size: 14px;
  border-top: 1px solid black;
}
Footer .footer-container-black .footer-social {
  gap: 22px;
}

.verification-container {
  min-height: 100%;
  gap: 40px;
}
.verification-container .background {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../icons/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.verification-container .verification-card {
  gap: 32px;
  padding: 50px 40px;
}
.verification-container .verification-card .card-title {
  gap: 18px;
}
.verification-container .verification-card .card-title :first-child {
  font-size: 32px;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .card-title :first-child {
    font-size: 24px;
  }
}
.verification-container .verification-card .card-title :last-child {
  font-size: 18px;
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .card-title :last-child {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .card-title {
    font-size: 24px;
  }
}
.verification-container .verification-card .verification-form label {
  font-size: 18px;
  margin-bottom: 6px;
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .verification-form label {
    font-size: 14px;
  }
}
.verification-container .verification-card .verification-form .input-group {
  padding: 15px 12px 15px 14px;
  border: 1px solid black;
  border-radius: 12px;
}
.verification-container .verification-card .verification-form .input-group .form-control {
  box-shadow: none;
  font-size: 21px;
  border-left: 1px solid black !important;
  border-radius: 0;
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .verification-form .input-group .form-control {
    font-size: 18px;
  }
}
.verification-container .verification-card .verification-form button {
  font-size: 18px;
  color: #1D74D8;
  background-color: white;
  border: none;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .verification-form button {
    font-size: 16px;
  }
}
.verification-container .verification-card .btn {
  font-size: 21px;
  border-radius: 12px;
  padding: 15px 12px 15px 14px;
}
@media only screen and (max-width: 480px) {
  .verification-container .verification-card .btn {
    font-size: 18px;
  }
}

.newAnnouncement-container .title {
  font-size: 42px;
  font-weight: 600;
  margin-top: 45px;
}
.newAnnouncement-container .image-upload-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.newAnnouncement-container .image-upload-container .image-preview-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-add {
  border: 2px dashed #5f5f5f;
  background-color: #f0f0f0;
  padding: 30px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  color: #555;
  transition: all 0.3s ease;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-add.large {
  width: 305px;
  height: 90px;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-add.small {
  width: 120px;
  height: 120px;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-add label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 7px;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-add label span {
  display: block;
  font-size: 18px;
  color: #555;
  font-weight: 400;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-preview img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-preview .image-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-preview .image-actions button {
  border: none;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-preview .image-actions button img {
  width: 24px;
  height: 24px;
}
.newAnnouncement-container .image-upload-container .image-preview-container .image-preview .image-actions button .svg-turn {
  width: 16px;
  height: 16px;
}
.newAnnouncement-container .upload-hint {
  font-size: 12px;
  font-family: "Poppins";
  color: #5f5f5f;
}
.newAnnouncement-container .file-input {
  display: none;
}
.newAnnouncement-container .form-container {
  margin-top: 40px;
}
.newAnnouncement-container .form-container span {
  background-color: transparent;
  font-size: 21px;
  border: none;
}
.newAnnouncement-container .form-container .custom-select {
  font-size: 21px;
  box-shadow: none;
  padding: 15px 12px 15px 14px;
}
.newAnnouncement-container .form-container label {
  font-size: 21px;
  font-weight: 600;
}
.newAnnouncement-container .form-container .input-group {
  border-radius: 12px;
  border: 1px solid lightgray;
}
.newAnnouncement-container .form-container .input-group .form-control {
  border-radius: 12px;
  font-size: 21px;
  box-shadow: none;
  border: none;
  padding: 15px 12px 15px 14px;
}
.newAnnouncement-container .form-container textarea {
  padding: 15px 24px 170px 14px;
  border-radius: 12px;
  outline: none;
  font-size: 21px;
}
.newAnnouncement-container .form-container .checkbox {
  gap: 53px;
}
.newAnnouncement-container .form-container .checkbox div {
  height: -moz-fit-content;
  height: fit-content;
}
.newAnnouncement-container .form-container .checkbox input[type=checkbox] {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */