.edit-profile-page-container {
    overflow-x: hidden;

    .edit-profile-page-title {
        margin-top: 70px;
        margin-bottom: 33px;
        font-size: 32px;
        font-weight: 600;
        text-transform: capitalize;
        display: flex;
        gap: 12px;

        @include mq(tablet-portrait-up) {
            margin-bottom: 50px;
        }

        @include mq(phone-only) {
            font-size: 28px;
        }

        a {
            background-color: rgba(0, 0, 0, 0.08);
            padding: 8px 10px;

            img {
                padding: 5px;
            }
        }
    }

    .edit-form-container {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
        padding: 36px;
        border-radius: 30px;
        position: relative;
        margin-bottom: 52px;

        .profile-image {
            gap: 23px;
    
            @include mq(tablet-portrait-up){
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: -30px;
                left: 50%;  
                transform: translate(-50%);
            }
    
            .image {
                width: 150px;
                height: 150px;
    
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
    
            .image-upload-container {
    
                display: flex;
                align-items: center;
                position: relative;
    
                input[type="file"] {
                    display: none;
                }
    
                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #e1efff;
                    border: 1px solid #1d74d8;
                    border-radius: 12px;
                    padding: 10px;
                    cursor: pointer;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    color: #1d74d8;
                    gap: 4px;
                    text-align: center;
    
                    img {
                        width: 20px;
                        height: 20px;
                        fill: blue;
                    }
    
                    span {
                        pointer-events: none;
                    }
    
                    &:hover {
                        background-color: #d0e5ff;
                        border-color: #0f5fb4;
                        color: #0f5fb4;
                    }
                }
            }
    
    
        }

        .notifie{
            @include mq(tablet-portrait-up){
                margin-top: 190px;
                text-align: center;
            }
        }

        .row {
            row-gap: 40px;
        }

        .input-group {
            .form-control {
                border-radius: 12px;
                font-size: 21px;
                font-weight: 500;
                border: 1px solid lightgray;
            }

            .password-input{
                border-right: none;
            }

            .input-group-text{
                border-left: none;
                background-color: transparent;
                border-radius: 12px;
                cursor: pointer;

                img{
                    width: 22px;
                    height: 19px;
                }
            }
        }


    }

    .confirm-edit{
        gap: 12px;
        margin-top: 34px;

        @include mq(tablet-portrait-up){
            flex-direction: column;
        }

        .btn{
            padding: 10px 30px;

            @include mq(tablet-portrait-up){
                width: 100%;
            }
        }

        .cancel{
            background-color: #D4D4D4;
            color: white;
        }
    }
}