.homepage-container {
    padding-bottom: 48px;

    .form-container {
        margin-top: 60px;

        label {
            font-size: 21px;
            font-weight: 500;
            margin-bottom: 7px;
        }

        input {
            border: 1px solid lightgray;
            margin-bottom: 20px;
            outline: none;
            font-size: 21px;
            padding: 15px 12px 15px 14px;
            color: #5f5f5f;

            @include mq(tablet-portrait-up){
                font-size: 14px;
            }   
        }
    }

    .vip-announcement-container {
        margin-top: 20px;
    }

    .latest-announcement-container {
        margin-top: 60px;
        margin-bottom: 195px;

        .latest-announcement-body {
            margin-top: 40px;

            @include mq(phone-only){
                margin-top: 20px;
            }
        }

    }
}