.sAnnouncement-page-container {


    .breadcrumb-container {
        margin-top: 70px;
        margin-bottom: 36px;

        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0;

            .breadcrumb-item {
                display: inline-block;
                font-size: 16px;

                &:not(:first-child)::before {
                    content: ">";
                    padding: 0 8px;
                    color: #6c757d;
                }

                a {
                    color: #686868;
                    text-decoration: none;
                }

                &.active {
                    color: black;
                }
            }
        }

    }

    .announcement-container {

        .announcement-title {
            margin-bottom: 28px;
            gap: 8px;

            span {
                font-size: 32px;
                font-weight: 600;
                text-transform: capitalize;
            }

            .date-mobile {
                display: none;
                gap: 8px;

                @include mq(tablet-portrait-up) {
                    display: flex;
                }

                span {
                    color: #5F5F5F;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

        }


        .announcement {
            gap: 19.5px;
            padding: 10px;
            display: flex;
            height: 718px;



            &-pictures {
                padding: 0;
                height: 100%;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                .gallery {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 28px;

                    .stage {
                        height: 80%;
                        position: relative;

                        .fullscreen {
                            background: rgba(0, 0, 0, 0.55);
                            padding: 10px;
                            z-index: 999;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            border-radius: 50%;
                            outline: none;
                            border: none;

                            img {
                                padding: 6px;
                            }
                        }
                    }

                    .thumbs {
                        display: flex;
                        gap: 12px;
                        height: 100%;

                        .thumbs-img {
                            width: 18%;
                            height: 100%;
                            position: relative;

                            .overlay {
                                width: 100%;
                                height: 100%;
                                top: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: 999;
                                color: #FFF;
                                font-size: 21px;
                                font-weight: 600;
                                background-color: rgba(0, 0, 0, 0.6);
                                border-radius: 12px;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255, 255, 255, 0.5);
                                opacity: 1;
                            }

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                                border-radius: 12px;
                            }
                        }

                        .active {

                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255, 255, 255, 0.5);
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            &-infos {
                background-color: #F0F0F0;
                border-radius: 12px;
                background-color: green;

                @include mq(c){
                    padding: 0 !important;
                }

                .top {
                    gap: 21px;

                    .ad-views-mobile {
                        display: none !important;
                        gap: 12px;
                        padding: 0;

                        span {
                            color: #323232;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }

                    .owner-infos {
                        gap: 10px;

                        .owner-image {
                            width: 90px;
                            height: 90px;

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .owner-name {
                            .name {
                                font-size: 24px;
                                font-weight: 500;
                                text-transform: capitalize;
                            }

                            .status {
                                font-size: 16px;
                                font-weight: 400;
                                text-transform: capitalize;
                            }
                        }
                    }

                    .price {

                        .total-price {
                            font-size: 36px;
                            font-weight: 600;
                            text-transform: capitalize;
                        }

                        .sqm-price {
                            color: #4C4C4C;
                            font-size: 24px;
                            font-weight: 500;
                            text-transform: capitalize;
                        }
                    }

                    .repair-status {
                        gap: 10px;

                        span {
                            color: #0B7F20;
                            font-size: 21px;
                            font-weight: 500;
                        }
                    }

                    .location {
                        gap: 7px;

                        span {
                            color: #000;
                            font-size: 21px;
                            font-weight: 500;
                        }
                    }
                }

                .bottom {
                    gap: 32px;
                    margin-top: 40px;

                    .dial-button-desktop-container {
                        height: 94px;
                        display: flex;
                        align-items: center;

                        .number-hidden {
                            width: 100%;
                            height: 100%;
                            background-color: #30BE4A;
                            border-radius: 12px;
                            cursor: pointer;
                            display: flex;

                            span {
                                color: #FFF;
                                text-align: center;
                                font-size: 21px;
                                font-weight: 500;
                            }
                        }

                        .number-visible {
                            width: 100%;
                            display: none;
                            gap: 10px;

                            a {
                                font-size: 28px;
                                font-weight: 600;
                                text-decoration: none;
                                color: black;
                            }

                            img {
                                width: 28px;
                                height: 28px;
                                filter: brightness(0) saturate(100%) !important;
                            }
                        }

                    }

                    .subscribe-type {
                        button {
                            width: 30%;
                            gap: 10px;
                            padding: 10px;
                            border-radius: 12px;
                            border: none;
                            background-color: white;
                            justify-content: space-between !important;

                            span {
                                font-size: 18px;
                                font-weight: 500;
                                white-space: nowrap;
                            }

                            .price {
                                color: #F76E13;
                                text-align: center;
                                font-size: 18px;
                                font-weight: 600;
                            }

                        }
                    }

                    .date-container {

                        span {
                            font-size: 21px;
                            font-weight: 500;

                        }

                        .date {
                            color: #5F5F5F;
                            gap: 12px;
                        }
                    }

                }
            }
        }
    }

    .modal-content {
        background-color: black;

        .fullscreen {
            background: rgba(0, 0, 0, 0.55);
            padding: 10px;
            z-index: 999;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            outline: none;
            border: none;

            img {
                padding: 6px;
            }
        }

        .gallery {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .stage {
                height: 85%;

                img {
                    object-fit: contain !important;
                }
            }

            .thumbs {
                height: 10%;

                .thumbSwiper {
                    padding: 0 10px;
                    height: 100%;

                    .swiper-wrapper {

                        .swiper-slide {
                            height: 100%;

                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255, 255, 255, 0.5);
                                opacity: 1;
                                border-radius: 12px;
                            }

                        }

                        .swiper-slide.active {

                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255, 255, 255, 0.5);
                                opacity: 0;
                            }
                        }
                    }


                }
            }

            // .thumbs {
            //     display: flex;
            //     gap: 12px;
            //     background-color: blue;
            //     align-items: center;

            //     .thumbs-img {
            //         width: 100px;
            //         height: 100px;

            //         img {
            //             object-fit: cover;
            //             width: 100%;
            //             height: 100%;
            //             border-radius: 12px;
            //         }
            //     }
            // }
        }
    }

    .ad-views {
        margin-top: 21px;
        gap: 28px;

        span {
            color: #323232;
            font-size: 21px;
            font-weight: 500;
        }
    }

    .about-announcement {
        margin-top: 38px;
        gap: 38px;


        .title {

            font-size: 28px;
            font-weight: 500;
        }

        .row {
            gap: 150px;

            .column {
                gap: 32px;

                span {
                    color: #5F5F5F;
                    font-size: 21px;
                    font-weight: 500;
                }

                span:nth-of-type(2) {
                    color: black;
                }

            }
        }

        .description {
            color: #323232;
            font-size: 21px;
            font-weight: 500;
        }
    }

    .dial-button-mobile-container {
        margin-top: 20px;
        z-index: 999;
        position: sticky !important;
        bottom: 20px;

        @include mq(tablet-portrait-down) {
            display: none;
        }

        .dial-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 50px;
            cursor: pointer;
            background-color: #30BE4A;
            border: none;
            border-radius: 12px;
            width: 100%;
            gap: 12px;
            text-decoration: none;


            span {
                color: #FFF;
                text-align: center;
                font-size: 21px;
                font-weight: 500;
            }

            .phone-number {
                font-size: 18px;
                font-weight: bold;

                &.hidden {
                    color: transparent;
                }

                &.visible {
                    color: black;
                }

                &.starred {
                    color: #FFF;
                    font-size: 21px;
                    font-weight: 500;
                }
            }

            &.hidden {
                display: none;
            }
        }

        .number-list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: none;
                padding: 5px 0;
                font-size: 25px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .similar-announcements {
        margin-top: 20px;
        margin-bottom: 63px;
    }
}