.registration-container {
    min-height: 100vh;
    gap: 50px;

    .background {
        background-image:
            linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),
            url(../icons/background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        font-size: 24px;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }


    .registration-card {
        gap: 42px;
        padding: 50px 40px;

        .card-title {

            span {
                font-size: 32px;
                font-weight: 600;

                @include mq(phone-only) {
                    font-size: 24px;
                }
            }

        }

        .signup-form {

            label {
                font-size: 18px;
                margin-bottom: 6px;

                @include mq(phone-only) {
                    font-size: 14px;
                }
            }

            .input-group {
                padding: 15px 12px 15px 14px;
                border: 1px solid black;
                border-radius: 12px;
                gap: 6px;

                .input-group-text {
                    font-size: 21px;
                    border: none;
                    border-right: 1px solid black;

                    @include mq(tablet-portrait-up) {
                        font-size: 18px;
                    }
                }

                .input-group-text {
                    font-size: 21px;
                    border: none;
                    border-right: 1px solid black;

                    @include mq(tablet-portrait-up) {
                        font-size: 18px;
                    }
                }

                .form-control {
                    box-shadow: none;
                    font-size: 21px;

                    @include mq(phone-only) {
                        font-size: 18px;
                    }
                }


            }
        }

        .btn {
            font-size: 21px;
            border-radius: 12px;
            padding: 15px 12px 15px 14px;

            @include mq(phone-only) {
                font-size: 18px;
            }
        }
    }
}